body{
    margin: 0 auto;
    padding: 0px;
    background-color: #F8F8FF;
    color: #0000FF;
}

hr{
    color: #E0FFFF;
}

h1{
    color: #191970;
}

h2{
    color: #000080;
}

h3{
    color: #00008B;
}

h4{
    color: #0000CD;
}

nav img{
    width: 200px;
}

.biodata img{
    width: 30px;
}

.skill table{
    text-align: left;
    width: 100%;
}

.hobby img{
    width: 70px;
}

.biodata table{
    width: 100%;
}

.contact img{
    width: 30px;
}

.school img{
    width: 150px;
}

.school div{
    text-align: center;
    width: 300px;
    float: left;
    margin-left: 2%;
}

.experience {
    top: 680px;
    float: none;
    position: absolute;
    width: 75%;
}

.certificate{
    top: 850px;
    float: none;
    position: absolute;
}

.certificate img{
    width: 280px;
    margin-left: 45px;
}

.experience table{
    text-align: center;
    border: 1px solid #87CEEB;
    table-layout: auto;
    width: 100%;
}

.experience td{
    border: 1px solid #87CEFA;
    border-spacing: unset;
}

.experience th{
    border: 1px solid #ADD8E6;
    border-spacing: unset;
}

nav {
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    float: left;
    text-align: center;
    width: 250px;
    background-color: #FFFFFF;
    height: 1300px;
}

#school{
    float: none;
    position: absolute;
    width: 75%;
    top: 670px;
    margin-left: 5px;
}

#experience{
    float: none;
    position: absolute;
    width: 75%;
    top: 845px;
}

section {
    margin-left: 300px;
}

footer{
    float: none;
    position: absolute;
    top: 1330px;
    background-color: #F0FFFF;
    width: 100%;
    text-align: center;
}